src/ICP3/EDI/ICP.EDI.FileManager/Common/CustomerInfoxml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="CustomerDescription">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name">
				</xs:element>

        <xs:element name="Address">
        </xs:element>

        <xs:element name="Country">
        </xs:element>
        
				<xs:element name="City">
				</xs:element>

        <xs:element name="Tel">
        </xs:element>

        <xs:element name="Fax">
        </xs:element>

        <xs:element name="Contact">
        </xs:element>
        
				<xs:element name="Remark">
				</xs:element>
        
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
