src/ICP3/EDI/ICP.EDI.FileManager/Common/PortXML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PortOfLoad">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PortCode">
					
				</xs:element>
				<xs:element name="Qualifier">
					
				</xs:element>
				<xs:element name="Date">
					
				</xs:element>
				<xs:element name="Time">
					
				</xs:element>
				<xs:element name="ActualDate">
					
				</xs:element>
				<xs:element name="ActualTime">
					
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
