src/ICP3/EDI/ICP.EDI.MapForce/datetime.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DateTime">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CC" type="xs:string"/>
				<xs:element name="YY" type="xs:string"/>
				<xs:element name="MM" type="xs:string"/>
				<xs:element name="DD" type="xs:string"/>
				<xs:element name="HH" type="xs:string"/>
				<xs:element name="MS" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
